<div class="ui form">
  <div class="fields">
  <%=form_for(@workout, html: {class: 'ui_form', }) do |f| %>
  <div class="field">
  <h3 class="ui header"><%= f.label :name %></h3>
  <%= f.text_field :name%>
</div>
<div class="ui segment">
  <div class="ui two column very relaxed grid">
    <%= f.fields_for :workout_exercises, 5.times{@workout.workout_exercises.build} do |we| %>
    <div class="column">
    <div class="field"> 
      <h4 class="ui header"><%= we.label :exercise %></h4>
      <%= we.collection_select :exercise_id, Exercise.all, :id, :name, { prompt: true } %> <br>
      </div>
     </div> 
    <div class="column">
    <div class="field">
      <%= we.label :sets %>
      <%= we.number_field :sets %>
      </div>
      </div>
      <div class="column">
        <div class="field">
      <%= we.label :reps %>
      <%= we.number_field :reps %>
      <div class="ui section divider"></div>
        </div>
       </div>
  <div class="column">
  <div class="field">
      <%= we.label :weight %>
      <%= we.text_field :weight %>
      <div class="ui section divider"></div>
  </div>
  </div>
      <% end %>
  </div> 
  <div class="ui segment">
      <button class="medium ui primary button">
          Submit</button>
     </div>   
</div>
<% end %>