<h2>Edit Your Workout</h2> <br>

  <div class="ui form">
    <div class="fields">
      <%=form_for(@workout, html: {class: 'ui_form', }) do |f| %>
       <div class="field">
        <h3 class="ui header"><%= f.label :name %></h3>
        <%= f.text_field :name%>
    </div>
  <div class="ui segment">
    <div class="ui two column very relaxed grid">
      <%= f.fields_for :workout_exercises, @workout.workout_exercises, html: {class: 'ui_form' } do |we| %>
        <div class="column">
        <div class="field">  
        <h3 class="ui header"><%= we.label :exercise %></h3>
        <%= we.collection_select :exercise_id, Exercise.all, :id, :name, { prompt: true } %>
    </div>
  </div>
    <div class="column">
      <div class="field">
      <%= we.label :sets %>
      <%= we.number_field :sets %>
        </div>
      </div>
      <div class="column">
        <div class="field">
        <%= we.label :reps %>
        <%= we.number_field :reps %>
  <div class="ui section divider"></div>
  </div>
  </div>
  <div class="column">
  <div class="field">
  <%= we.label :weight %>
  <%= we.text_field :weight %>
  <div class="ui section divider"></div>
  </div>
  </div>
  <% end %>
  </div>
  </div>
 
 <div class="ui compact segment">
 <button class="small ui primary button">
     Save Changes  </button>
<% end %>
<div class="ui hidden divider"></div>

<%= form_tag workout_path(@workout.id), method: "delete" do %>
  <button class="mini ui negative basic button">
  <%= "Delete #{@workout.name}" %>
</button> 
<% end %>

<div class="ui hidden divider"></div>
<%= link_to "Back to Profile", user_path(session[:user_id]) %>

</div>
