<h1><%= @user.username %></h1>
<% @user.workouts.each do |workout| %>
  <div>
    <h3><%= link_to workout.name, workout_path(workout) %></h3>
      <table>
        <tr>
          <th>Exercise</th>
          <th>Weight</th>
          <th>Sets</th>
          <th>Reps</th>
        </tr>
        <% workout.workout_exercises.each do |we| %>
          <tr>
            <td><%= we.exercise.name %></td>
            <td><%= we.weight %></td>
            <td><%= we.sets %></td>
            <td><%= we.reps %></td>
          </tr>
        <% end %>
      </table>
  </div>
<% end %>
<br>
<%= link_to "Create a New Exercise", :controller => 'exercises', :action => 'new' %>
<br>
<%= link_to "Create a New Workout", new_workout_path %>
<br>
<%= link_to "Logout", :controller => 'sessions', :action => 'destroy' %>